

header {
  background-color:orange;
  text-align:center;
}

h1 {
  font-size: 300%;
}

footer {
  background-color:blue;
  text-align:center;
}

body {
  background-color: lightblue;
}

form {
  text-align:center;
  font-size: 150%;
}

p {
  text-align:center;
  font-size: 150%;
}
